<!-- Modal -->
<article id="aiHire-modal" class="modal hidden">
  <section class="modal-content">
    <button class="close-btn" aria-label="Close modal">&times;</button>
    <h3>Application Details</h3>
    <p><strong>Freelancer:</strong> <button id="modal-username"></button></p>
    <p><strong>Skills:</strong> <button id="modal-skills"></button></p>
    <p>
      <strong>Links to past projects:</strong>
      <button id="modal-links"></button>
    </p>
    <p><strong>Message:</strong></p>
    <p id="modal-message"></p>

    <button class="hire-btn" type="submit">Hire Freelancer</button>
  </section>
</article>
