<!-- Modal -->
<article id="application-modal" class="modal hidden">
    <section class="modal-content">
      <span class="close-btn">&times;</span>
      <h3>Application Details</h3>
      <p><strong>Freelancer:</strong> <span id="modal-username"></span></p>
      <p><strong>Skills:</strong> <span id="modal-skills"></span></p>
      <p><strong>Links to past projects:</strong> <span id="modal-links"></span></p>
      <p><strong>Message:</strong></p>
      <p id="modal-message"></p>
      <form action="/projects/" method="POST">
        <button class="hire-btn" type='submit'=>Hire Freelancer</button>
      </form>
      
    </section>
  </article>
  