<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Client Dashboard</title>
   
   
    <link rel="stylesheet" href="/css/clientDashboard.css" />
  </head>
  <body  data-userid="<%= userID %>">
    <header class="top-nav">
      <button class="menu-icon">☰</button>
      <h1 class="logo">Freelance-studio</h1>
      <button class="postProject" id="addProject">Post a Project</button>
      <section class="profile-info">
        <button class="acc"><img src="/images/profile-icon.jpg" id="profile"/>
        <p><%= userName || "Guest" %></p>
      </section>
    </header>

    <main class="main-layout">
      <nav class="aside">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Active Projects</a></li>
          <li><a href="#">Recently Posted</a></li>
          <li><a href="#">Completed Projects</a></li>
        </ul>

        <section class="bottomNav">
          <button class="switch">Switch to Freelancer</button>
          <button class="logout">Log-out</button>
        </section>
      </nav>

      <article class="content">
        <section class="section">
          <h2>Active Projects</h2>
          <article
          class="content-box"
            id="activeP"
          ></article>
        </section>

        <section class="section">
          <h2>Recently Posted Projects</h2>
          <article class="content-box" id="AP"></article>
        </section>
      </article>
    </main>
    <%- include('partials/joblisting') %>
    <script>
      window.projectData = <%- JSON.stringify(projects) %>;
    </script>
    <script type="module" src="/js/welcome.js"></script>
  </body>
</html>
