<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Payment Complete</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <main>
    <section>
      <header></header>
      <article>
        <p id="success" style="color:green; font-size: 2rem;">✔ Payment Successful!</p>
      </article>
    </section>
  </main>

  <script>
    setTimeout(() => {
      window.location.href = "/";
    }, 3000);
  </script>
</body>
</html>
