<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style=" font-family: 'Montserrat', sans-serif;">Hello</h1>
    <p style=" font-family: 'Montserrat', sans-serif;"><a href="/users/register" style="text-decoration: none; color: #009acc; font-family: 'Montserrat', sans-serif;">Sign Up</a> or <a href="/users/login" style="text-decoration: none; color: #009acc;  font-family: 'Montserrat', sans-serif;">Sign In</a></p>
</body>
</html>