<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freelance Studio</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link href="/css/landingPage.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="header-content">
        <h1 class="logo">Freelance <strong>Studio.</strong></h1>
        <section class="nav-buttons">
          <button class="signin" id="signIn-btn">
            <a
              href="/users/login"
              style="
                text-decoration: none;
                color: #fff;
                font-family: 'Montserrat', sans-serif;
              "
              >Sign In</a
            >
          </button>
          <button class="signup" id="signUp-btn">
            <a
              href="/users/register"
              style="
                text-decoration: none;
                color: #009acc;
                font-family: 'Montserrat', sans-serif;
              "
              >Sign Up</a
            >
          </button>
        </section>
      </nav>

      <section class="hero">
        <section class="left-sec">
          <h2>
            Find the Right Talent or<br />
            Your Next Gig in<br />
            just seconds
          </h2>
          <p>
            Connect with skilled professionals ready to bring your<br />
            projects to life. From design to development, we've got<br />
            you covered.
          </p>
          <button>Join now</button>
        </section>

        <section class="right-sec">
          <img src="/images/freelancer_1.png" class="heroImg" />
        </section>
      </section>
    </header>

    <main>
      <section class="services">
        <section class="top-group">
          <h2>Hire based on what <button>you are looking for</button></h2>
          <button>See All Projects</button>
        </section>

        <section class="cards">
          <article class="card" id="card-3">
            <img src="/images/image_1.png" alt="Mike Smith" class="disp-img" />
            <section class="description">
              <section class="credentials">
                <img
                  src="/images/image_5.png"
                  alt="Aron Pillay"
                  class="profile-img"
                />
                <h3>Aron Pillay</h3>
              </section>
              <p>
                Connect with skilled professionals<br />
                ready to bring your projects to life.
              </p>
              <p class="price">From R574</p>
            </section>
          </article>

          <article class="card" id="card-3">
            <img src="/images/image_2.png" alt="Victor Xu" class="disp-img" />
            <section class="description">
              <section class="credentials">
                <img
                  src="/images/image_6.png"
                  alt="Victor Xu"
                  class="profile-img"
                />
                <h3>Victor Xu</h3>
              </section>
              <p>
                Connect with skilled professionals<br />
                ready to bring your projects to life.
              </p>
              <p class="price">From R574</p>
            </section>
          </article>

          <article class="card" id="card-3">
            <img src="/images/image_3.png" alt="Daniel S" class="disp-img" />
            <section class="description">
              <section class="credentials">
                <img
                  src="/images/image_7.png"
                  alt="Daniel S"
                  class="profile-img"
                />
                <h3>Daniel S</h3>
              </section>
              <p>
                Connect with skilled professionals<br />
                ready to bring your projects to life.
              </p>
              <p class="price">From R574</p>
            </section>
          </article>

          <article class="card" id="card-3">
            <img src="/images/image_4.png" alt="Xi Un" class="disp-img" />
            <section class="description">
              <section class="credentials">
                <img
                  src="/images/image_8.png"
                  alt="Xi Un"
                  class="profile-img"
                />
                <h3>Xi Un<br /></h3>
              </section>
              <p>
                Connect with skilled professionals<br />
                ready to bring your projects to life.
              </p>
              <p class="price">From R574</p>
            </section>
          </article>
        </section>
      </section>
    </main>
    <footer class="footer">
      <p>&copy; 2025 Freelance Studio | All Rights Reserved</p>
    </footer>

    <script type="module" src="/js/script.js"></script>
  </body>
</html>
