<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Payment</title>
  <link rel="stylesheet" href="/css/payment.css" />
</head>
<body>
  <main>
    <section>
      <header>
        <h1>Payment</h1>
      </header>
      <article>
        <form action="/checkout" method="post">
          <label for="amount">Enter Amount (ZAR):</label>
          <input
            type="number"
            name="amount"
            id="amount"
            placeholder="e.g. 50"
            min="1"
            required
          />
          <input type="submit" value="Pay Now" />
        </form>
      </article>
    </section>
  </main>
</body>
</html>
