<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelance Studio | Register here</title>
    <link href="/css/register.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Knewave&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    


    <section class="form-container">
        <section class="left-col col">
            <p></p>
        </section>
        <section class="right-col col">
            <section class="header-texts">
                <h1 class="form-head">Welcome</h1>
                <p class="form-subtext" >Please fill in the following </p>
            </section>

            <section class="accounts">
                <p>*Name: <input class="inp" id="name" type="text"></input></p>
                
                <p>*Last Name:<input class="inp" id="lname" type="text"></input></p>
        
        
                <p>Choose a role:</p>
                <select class="sel" id="roles">
                    <option class="sel" value="Freelancer">Freelancer</option>
                    <option class="sel" value="Client">Client</option>
                    <option class="sel" value="Both">Admin</option>
                  </select>
                  <p class="form-subtext" id="tt1"></p>
                <button class="acc" id="sub"><p>Submit</p></button>
            <section>
            
           
        </section>
    </section>

    <script type="module" src="/js/script1.js"></script>
</body>
</html>