<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelance Studio | Register here</title>
    <link href="/css/register.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Knewave&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="form-container">
        <section class="left-col col">
            <p></p>
        </section>
        <section class="right-col col">
            <section class="header-texts">
                <h1 class="form-head">Get Started Here</h1>
                <p class="form-subtext">Already have an account ? <a href="/users/login">Sign In</a></p>
            </section>
            <section class="accounts">
                <button class="acc"><img src="/images/google-icon-logo-svgrepo-com.svg" id="google-icon"/><p>Continue with Google</p></button>
                <button class="acc"><img src="/images/icons8-github.svg" id="ms-icon"/><p>Continue with Github</p></button>
                <p>OR, prefer social media sign up?</p>
                    <button class="acc"><img src="/images/facebook-2-logo-svgrepo-com.svg" id="fb-icon"/><p>Facebook</p></button>
                    <button class="acc"><img src="/images/twitter-logo-svgrepo-com.svg" id="twitter-icon"/><p>Twitter</p></button>
            </section>
        </section>
    </section>
    <script type="module" src="/js/script.js"></script>
</body>
</html>