<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Freelancify</title>
  <link rel="stylesheet" href="/css/usernamepage.css" />
</head>
<body>


    <form class="container">
        <img src="/images/Freelancify.png">
        <label for="username">Enter your username</label><br>
        <input type="text" id="username" name="username"><br><br>
      
        <p>Register as a:</p>
      
        <!-- Role selection (inline layout) -->
        <input type="radio" name="role" id="freelancer">
        <label for="freelancer" class="role-button">Freelancer</label>
      
        <input type="radio" name="role" id="client">
        <label for="client" class="role-button">Client</label><br><br>
      
        <input type="checkbox" id="terms">
        <label for="terms">I agree to the Terms and Conditions</label><br>
      
        <input type="checkbox" id="privacy">
        <label for="privacy">I agree to the Privacy Policy</label><br><br>
      
        <button type="submit" class="create-account">Create Account</button>
      </form>
      
</body>
</html>
