<section class="modal" id="jobModal">
    <section class="modal-content">
      <span class="close">&times;</span>
      <section class="header-texts">
        <p class="form-subtext" id="pjname">Project</p>
      </section>
      <section class="accounts">
        <p>*Title: <input class="inp" id="title" type="text"></p>
        <p>*Description: <input class="inp" id="description" type="text"></p>
        <p>*Skills: <input class="inp" id="skills" type="text"></p>
        <p>*Min Pay (R): <input class="inp" id="minPay" type="number"></p>
        <p>*Deadline: <input class="inp" id="deadline" type="date"></p>
        <button class="switch" id="sub"><p>Submit</p></button>
      </section>
    </section>
  </section>